{% extends 'abk/base.html' %}
{% block content %}
<section class="py-5">
  <div class="container" data-aos="fade-up">
    <h2 class="section-title text-center fw-bold mb-4">Explore Our Tools</h2>
    <div class="row">
      {% for product in products %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 border-0 shadow-sm">
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
  
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text text-muted">{{ product.short_description|truncatechars:100 }}</p>
            <a href="/products/{{ product.slug }}/" class="btn btn-outline-primary btn-sm">View Details</a>
          </div>
        </div>
      </div>
      {% empty %}
      <p class="text-center">No products available.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}